.footer_container {
  width: 100%;
  height: 100px;
  background-color: #302d35;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 480px) {
  .footer_container {
    height: 150px;
  }
}

.footer {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .footer {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer h2,
.footer a {
  color: white;
}

.footer h2 span {
  color: #E66F00;
}

@media only screen and (max-width: 768px) {
  .footer_legal {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .footer_legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_legal a {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .footer_legal a {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .footer_legal a {
    margin-top: 5px;
  }
}